$listview-toolbar-height: 61px;
.ebp-listview {
	height: 100%;
	.ebp-listview-toolbar {
		padding: 15px;
		background-image: linear-gradient(top, #f9f9f9, #e6e6e6);
		border-top: #ddd 1px solid;
		height: $listview-toolbar-height;
	}

	.ebp-listview-container {
		height: calc(100% - #{$listview-toolbar-height});
	}
}

.ebp-listview-grid {
	margin: 15px -15px 0;
	& > ul {
		list-style: none;
		padding: 0;
		overflow: hidden;
		& > li {
			float: left;
			width: calc(100% / 4 - 30px);
			margin: 15px;
		}

		.ebp-listview-item {
			cursor: pointer;
			text-align: center;

			&:after {
				content: '';
				display: table-cell;
			}

			&.ebp-dirty {
				.poster-image {
					&:before {
						content: '';
						position: absolute;
						right: 0;
						border-style: solid;
						border-width: 8px;
						border-color: #f00 #f00 transparent transparent;
						vertical-align: top;
					}
				}
			}

			.poster-image {
				position: relative;
				& > img {
					width: 100%;
					height: 100%;
				}
			}
			
			&.with-title {
				width: 90%;
				height: 90%;
				margin: 0 auto;
			}

			& > .ebp-title {
				margin-top: 15px;
			}

			.ebp-overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(69, 69, 69, .7);
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: ease .5s;
			}

			&:hover {
				.ebp-overlay {
					visibility: visible;
					opacity: 1;
				}

				.poster-uploader {
					visibility: visible;
				}
			}

			&.editing {
				animation: list_item_shake .2s ease 0s infinite;
			}

			.poster-uploader {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: rgba(69, 69, 69, .7);
				visibility: hidden;
				color: #fff;
				text-shadow: 0 1px 10px rgba(255, 255, 255, .7);
				font-size: 120%;
				font-weight: normal;
				margin: 0;
				cursor: pointer;
				.upload-icon {
					font-size: 50px;
					margin-bottom: 10px;
				}
				.poster-uploader-inner {
					position: absolute;
					top: 50%;
					width: 100%;
					transform: translate(0, -50%);
				}
				input[type=file] {
					display: none;
				}
			}

			.ebp-listview-item-delete {
				background-color: #FAFAFA;
				position: absolute;
				display: inline-block;
				width: 25px;
				height: 25px;
				line-height: 24px;
				left: -10px;
				top: -10px;
				border-radius: 50%;
				box-shadow: 0 2px 2px rgba(96, 96, 96, .7);
				text-align: center;
				&:before {
					content: '+';
					font-size: 20px;
					color: rgba(0, 0, 0, .5);
					display: inline-block;
					width: 100%;
					height: 100%;
					text-align: center;
					transform: rotate(45deg);
					position: relative;
				}
			}

			.ebp-title {
				padding: .3em 0;
				white-space: nowrap;
				overflow: hidden;
				&:focus {
					outline: none;
					cursor: text;
					box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 2px 3px rgba(0,0,0,0.05);
				}
			}
		}
	}
}

@keyframes list_item_shake {
	from {
		transform: rotate(0deg);
		transform-origin: 20% 20%;
	}
	50% {
		transform: rotate(1deg);
		transform-origin: 20% 20%;
	}
	to {
		transform: rotate(0deg);
		transform-origin: 20% 20%;
	}
}
