<div ui-sortable="$taskBoard.entrySortableOptions" class="ebp-taskgroup-list">
	<div class="ebp-taskgroup">
		<div class="ebp-taskgroup-header">
			<h5 class="ebp-taskgroup-title">待审核</h5>
		</div>
		<div class="ebp-taskgroup-body">
			<div class="ebp-task-list" ui-sortable="$taskBoard.taskSortableOptions">
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">外包过程评审表审批-李静</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-clock-o badge-expire-due" title="任务已过期">2015-12-09</span>
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-eye">验收项目文档</span>
					</div>
				</div>
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">项目月报审批流程-部门主管</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-eye">验收项目文档</span>
						<span class="task-badge task-label green-label" title="重要">重要</span>
						<span class="task-badge task-label orange-label" title="紧急">紧急</span>
					</div>
				</div>
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">拨款通知单审批-李静</a>
		                <div class="ebp-task-badges">
							<span class="task-badge fa fa-list badge-todo-done">7/7</span>
							<span class="task-badge fa fa-eye">验收项目文档</span>
						</div>
					</div>
				</div>
			</div>
			<div class="add-task-btn">新建任务</div>
		</div>
	</div>

	<div class="ebp-taskgroup">
		<div class="ebp-taskgroup-header">
			<h5 class="ebp-taskgroup-title">正在做</h5>
		</div>
		<div class="ebp-taskgroup-body">
			<div class="ebp-task-list" ui-sortable="$taskBoard.taskSortableOptions">
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">装甲研发</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-flask">装甲研发</span>
						<span class="task-badge task-label red-label" title="非常紧急">非常紧急</span>
					</div>
				</div>
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">项目文档验收</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-clock-o badge-expire-due" title="任务已过期">2015-12-09</span>
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-eye">验收项目文档</span>
					</div>
				</div>
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">策划方案</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-clock-o badge-expire-due" title="任务已过期">2015-12-09</span>
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-diamond">策划方案</span>
						<span class="task-badge task-label green-label" title="重要">重要</span>
						<span class="task-badge task-label orange-label" title="紧急">紧急</span>
					</div>
				</div>
			</div>
			<div class="add-task-btn">新建任务</div>
		</div>
	</div>

	<div class="ebp-taskgroup">
		<div class="ebp-taskgroup-header">
			<h5 class="ebp-taskgroup-title">已完成</h5>
		</div>
		<div class="ebp-taskgroup-body">
			<div class="ebp-task-list" ui-sortable="$taskBoard.taskSortableOptions">
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">院月报-部门主管</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-clock-o badge-expire-due" title="任务已过期">2015-12-09</span>
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-diamond">策划方案</span>
						<span class="task-badge task-label yellow-label" title="一般">一般</span>
					</div>
				</div>
				<div class="ebp-task">
					<div class="ebp-task-main">
						<label class="ebp-checkbox">
		                    <input type="checkbox" />
		                    <span class="lbl"></span>
		                </label>
		                <a href class="ebp-task-title">项目月报审批流程-签章</a>
					</div>
					<div class="ebp-task-badges">
						<span class="task-badge fa fa-clock-o badge-expire-due" title="任务已过期">2015-12-09</span>
						<span class="task-badge fa fa-list badge-todo-done" title="检查项： 7/7">7/7</span>
						<span class="task-badge fa fa-diamond">策划方案</span>
						<span class="task-badge task-label green-label" title="重要">重要</span>
					</div>
				</div>
			</div>
			<div class="add-task-btn">新建任务</div>
		</div>
	</div>

	<div class="ebp-taskgroup">
		<div class="ebp-taskgroup-header">
			<h5 class="ebp-taskgroup-title">进一步熟悉</h5>
		</div>
		<div class="ebp-taskgroup-body">
			
		</div>
	</div>
</div>