<div class="ebp-table">
    <div class="ebp-table-header">
        <div class="ebp-table-header-wrapper">
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="columnheader">角色名称</th>
                        <th class="columnheader">角色编码</th>
                        <th class="columnheader">排序号</th>
                        <th class="columnheader">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="ebp-table-content">
        <table class="table-striped">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="tablecell">系统管理员</td>
                    <td class="tablecell">00001</td>
                    <td class="tablecell">51</td>
                    <td class="tablecell operation-col">
                        <i class="ebp-icon fa fa-pencil" style="color: #478FCA"></i>
                        <i class="ebp-icon fa fa-user" style="color: #777"></i>
                        <i class="ebp-icon fa fa-cogs" style="color: #FF892A"></i>
                        <i class="ebp-icon fa fa-trash" style="color: #DD5A43"></i>
                    </td>
                </tr>
                <tr>
                    <td class="tablecell">部门主管</td>
                    <td class="tablecell">00005</td>
                    <td class="tablecell">6</td>
                    <td class="tablecell operation-col">
                        <i class="ebp-icon fa fa-pencil" style="color: #478FCA"></i>
                        <i class="ebp-icon fa fa-user" style="color: #777"></i>
                        <i class="ebp-icon fa fa-cogs" style="color: #FF892A"></i>
                        <i class="ebp-icon fa fa-trash" style="color: #DD5A43"></i>
                    </td>
                </tr>
                <tr>
                    <td class="tablecell">人事经理</td>
                    <td class="tablecell">00010</td>
                    <td class="tablecell">15</td>
                    <td class="tablecell operation-col">
                        <i class="ebp-icon fa fa-pencil" style="color: #478FCA"></i>
                        <i class="ebp-icon fa fa-user" style="color: #777"></i>
                        <i class="ebp-icon fa fa-cogs" style="color: #FF892A"></i>
                        <i class="ebp-icon fa fa-trash" style="color: #DD5A43"></i>
                    </td>
                </tr>
                <tr>
                    <td class="tablecell">副院长</td>
                    <td class="tablecell">00015</td>
                    <td class="tablecell">1</td>
                    <td class="tablecell operation-col">
                        <i class="ebp-icon fa fa-pencil" style="color: #478FCA"></i>
                        <i class="ebp-icon fa fa-user" style="color: #777"></i>
                        <i class="ebp-icon fa fa-cogs" style="color: #FF892A"></i>
                        <i class="ebp-icon fa fa-trash" style="color: #DD5A43"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ebp-table-bottom">
        <table>
            <tbody>
                <tr>
                    <td class="ebp-operations">
                        <i class="ebp-icon fa fa-plus-circle" style="color: #A069C3"></i>
                        <i class="ebp-icon fa fa-pencil" style="color: #478FCA"></i>
                        <i class="ebp-icon fa fa-search-plus" style="color: #777"></i>
                        <i class="ebp-icon fa fa-trash-o" style="color: #DD5A43"></i>
                        <i>|</i>
                        <i class="ebp-icon fa fa-search" style="color: #FF892A"></i>
                        <i class="ebp-icon fa fa-refresh" style="color: #69AA46"></i>
                    </td>
                    <td class="ebp-table-pagination text-center">
                        <i class="ebp-icon fa fa-fw fa-angle-double-left"></i>
                        <i class="ebp-icon fa fa-fw fa-angle-left"></i>
                        <span>|</span>
                        <span>第<input type="text" class="text-center" size="2" value="1" />/3页</span>
                        <span>|</span>
                        <i class="ebp-icon fa fa-fw fa-angle-right"></i>
                        <i class="ebp-icon fa fa-fw fa-angle-double-right"></i>
                    </td>
                    <td class="text-right">
                        显示第1-10条记录, 共23 条记录
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>