<div>
    <div class="col-xs-3" style="padding: 40px" ng-repeat-start="i in [1,2,3]">
        <img src="assets/images/logo.svg" width="100%" height="100px" />
    </div>
    <div class="col-xs-3" style="padding: 40px">
        <img src="assets/images/bower-logo.svg" width="100%" height="100px" />
    </div>
    <div class="col-xs-3" style="padding: 40px" ng-repeat-end>
        <img src="assets/images/github.svg" width="100%" height="100px" />
    </div>
</div>