<div ebp-table="$ebpList.$tableView" ng-model="$ebpList.data" datasource="$ebpList.datasource" settings="$ebpList.settings.table" pager="$ebpPager">
	<!-- <div ebp-table-coldefs>
		<div ebp-table-check-col></div>
		<div ebp-table-col="name" title="角色名称">
		</div>
		<div ebp-table-col="code" title="角色编码">
		</div>
		<div ebp-table-col="index" title="排序号">
		</div>
		<div ebp-table-col title="操作">
			<i class="ebp-icon fa fa-pencil" ng-click="entry.edit()" style="color: #478FCA"></i>
            <i class="ebp-icon fa fa-user" style="color: #777"></i>
            <i class="ebp-icon fa fa-cogs" style="color: #FF892A"></i>
            <i class="ebp-icon fa fa-trash" style="color: #DD5A43"></i>
		</div>
	</div> -->
</div>